body{
    background: linear-gradient(45deg,blue,pink);
}
.background-plans{
    
    background-image: url('sp2.jpg');
    background-attachment: fixed;
    background-size: cover;
    /* border: 50px solid white; */
    border-radius: 13px;
}   

.plan-1 {
    text-align: center;
    font-size: 30px;
    margin: 80px 0px 0px 0px;
}

.plan-1 img {
    border-radius: 5px;
}

.plan-2 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px 0px 0px;
}


.img1{
    /* width: 60px;
    height: 60px; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: rgb(235, 137, 32);
    background-color: aliceblue;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 13px;
    
}

.img2{
    width: 320px;
    height: 320px;
}


.img3{
    width: 320px;
    height: 320px;
}

.plan-2 img {
    border-radius: 15px;
}

.plan-3 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px 0px 0px;
}

.plan-3 img {
    border-radius: 15px;
}

.plans-list h2 {
    text-align: center;
    font-size: 70px;
    font-family: cursive;
}

.plans-list h1 {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.plans-list {
    text-align: center;
    font-size: 60px;
}

.plan-1 h1::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #13bbdc;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.plan-1 h1:hover::after {
    width: 10%;
}

.plan-2 h1::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #b92ec5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.plan-2 h1:hover::after {
    width: 10%;
}

.plan-3 h1::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #d96805cb;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.plan-3 h1:hover::after {
    width: 15%;
}

#head1{
    text-align: center;
    padding: 126px 4px 64px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 100px;
    font-size: 100px;
    background:linear-gradient(182deg,red,rgb(124, 50, 174));
    color: lightblue;
}

.plan-1 ul li{
    list-style: none;
}
.plan-2 ul li{
    list-style: none;
}
.plan-3 ul li{
    list-style: none;
}

.chng{
    text-decoration: none;
    color: white;
    font: 39px bolder;
   
}
.chng:hover{
    transition: 0.5s;
    color: red;
    background-color: white;
    padding-left: 5px;
    border-radius: 8px;

}